#Eclipse Project Files
.classpath  		
.project  		
.settings/ 		
.myeclipse		
.metadata		
.mymetadata		
		
# Java class files		
.class		
		
# Local configuration file (sdk path, etc)		
local.properties		
		
#Build Artifacts    		
.gradle/  		
build/  		
target/  		
bin/  		
dependency-reduced-pom.xml		
